#board{
    border-collapse: collapse;
}

.ball{
    background-color: #f6f600;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.blockGround{
    background-color: black;
}

.blockJump{
    background-color: #0098f6;
    color: white;
    font-size: 20px;
}

.blockSky{
    background-color: #e5e5e5;
}

.blockStar{
    background-color: #e5e5e5;
    color: #f6f600;
    font-size: 20px;
    margin-top: -6px
}

.board{
    border: 0px solid black;
}

.board-padding{
    background-color: grey;
    border: 0px solid black;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    padding: calc(var(--cell-size) / 2);
}

.center{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.hide{
    display: none;
}